    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <div>
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Generador de recibos</a>
                </div>
            </div>
        </div>
    </nav>