<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section style="display: grid; align-items: center; justify-content: center;">
    <div id="formulario" style="border: solid gainsboro; margin: 10px; padding: 10px;"">
        <form action="/" method="post">
            <br>
            <div class="form-group">
                <label for="">Número del docente: </label>
                <input type="number" name="recibo" id="recibo" required>
            </div>
            <br>
            <div class="form-group">
                <label for="">Nombre: </label>
                <input type="text" name="nombre" id="nombre" required value=<%=nombre%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Domicilio: </label>
                <input type="text" name="domicilio" id="domicilio" required> 
            </div>
            <br>
            <div class="form-group">
                <label for="">Nivel: </label>
                <select name="nivel" id="nivel" required value=<%=nivel%>>
                    <option value=1.30>Licenciatura o Ingeniería</option>
                    <option value=1.50>Maestro en Ciencias</option>
                    <option value=2>Doctor</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="">Pago base por hora impartida: </label>
                <input type="number" name="pH" id="pH" required value=<%=pH%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Horas impartidas: </label>
                <input type="number" name="horas" id="horas" required value=<%=horas%>>
            </div>
            <br>
            <div class="form-group">
                <label for="">Cantidad de hijos: </label>
                <select name="cH" id="cH" required value=<%=cH%>>
                    <option value=0.05>1 - 2 Hijos</option>
                    <option value=0.1>3 - 5 Hijos</option>
                    <option value=0.2>+5 Hijos</option>
                </select>
            </div>
            <br>
            <center>
                <button class="btn btn-primary" type="submit">Calcular</button>
                <button class="btn btn-secondary" type="reset">Limpiar</button>
            </center>
            <br>
        </form>
    </div>
</section>
<%-include('partials/footer.ejs')%>