<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<%
    pagoHoras = horas * pH * nivel;
    impuestos = pagoHoras * 0.16;
    bono = pagoHoras * cH;
    total = pagoHoras - impuestos + bono;
%>
<section style="display: grid; align-items: center; justify-content: center;">
    <div style="border: solid gainsboro; margin: 10px; padding: 10px; text-align: center;">
        <h4>
            Detalles del Pago
        </h4>
        <h6>
            <%=nombre%>
        </h6>
        <br>
        <p style="font-weight: bolder;">Pago por horas impartidas: $<%=pagoHoras%></p>
        <p style="font-weight: bolder;">Pago por bono: +$<%=bono%></p>
        <p style="font-weight: bolder;">Impuestos: -$<%=impuestos%></p>
        <p style="font-weight: bolder;">Total a pagar: $<%=total%></p>
    </div>
</section>
<%-include('partials/footer.ejs')%>